.project-grid, .category-grid  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px;
  max-height: 70vh;
  overflow-y: auto;
  background-color: inherit;
  color: #ccc;
  .header {
    position: sticky;
    top: 0;
    background-color: var(--data-page-bg-color);
    color: #aaa;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--data-border-color);
  }
}
