.fps
  position: fixed
  top: 48px
  right: 26px
  padding: 16px 34px
  background-color: #2b2b2b
  color: #ddd
  font-size: 22px
  font-weight: 600
  width: fit-content
  border-radius: 4px

  &::before
    content: 'FPS: '
    font-size: 12px
    font-weight: 600
    letter-spacing: 1.2px
