@use 'buttons'
html, body
  background-color: var(--data-main-dg-color)
  color: var(--data-text-color)
  margin: 0
  padding: 0

.layout
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 4px

  

  main
    width: 100%
    @import 'secondary-menu'
    @import 'pages'
    @import 'fps'

.page
  margin: 0 auto
